@import 'styles/dependencies';

html {
  font-size: 0.625rem; // 10px in default browser settings
  height: 100%;
}

body {
    height: 100%;
}

.app {
    height: 100%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}