.map-page{

  .map-wrapper{
    height: calc(100vh - 3rem);
    width: 100%;
  }

  .marker-info{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    height: 10rem;
    padding: .5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.15);

    .picture{
      width: 9rem;
      height: 9rem;
    }

    .info-wrapper{
      padding-left: 2rem;

      .title{
        font-size: 2rem;
        font-weight: 500;
        color: blue;
      }

      .description{
        font-size: 1.5rem;
        font-weight: 300;
      }

      .other-info{
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }

}